<a href="/">Home</a>

<div class="posts">
  <h1><%= @post.title %></h1>
  <h5><a href="<%= @post.url %>"><%= @post.url %></a></h5>
  <h5> posted <%= @post.creation_time %> seconds ago</a></h5>
  <h5><%= @post.comments.count %> Comments</a></h5>
  <br>
</div>

<div class="comments">
  <h3> Add Comment: </h3>
   <form  id="new_comment" action="/create_new_comment/<%= @post.id %>" method="POST">
      <label>Content</label>
      <br>
      <textarea form="new_comment" placeholder="Content" name="content" rows="10" cols="50"></textarea>
      <br>
      <br>
      <input type="submit" value="Submit">
  </form>

  <h1>Comments: </h1>
  <% @post.comments.each_with_index do |comment, index| %>
      <h2><%=index + 1%>. <%= User.where(id: "#{comment.user_id}")[0].username %></h2>
      <h5>Created at: <%= comment.created_at %></a></h5>
      <h6><%= comment.content %></h6>
      <br>
    <% end %>
</div>


