<a href="/">Home</a>

<h2><%=@user.username %>'s Posts</h2>

<div class="posts">
  <h1>Posts</h1>
  <% @posts.each_with_index do |post, index| %>
    <h2><%=index + 1%>. <%= post.title %></h2>
    <h5><a href="<%= post.url %>"><%= post.url %></a></h5>
    <h6>Created: <%= post.creation_time %> </h6>
    <h6><a href="/comments/<%= post.id %>"><%= post.comments.count %> comments</h6>
    <br>
  <% end %>
</div>


</div>
